<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
	<![endif]-->
	<link rel="stylesheet" href="static/css/base.css"/>
	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

</head>
 
<body>

	<div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <br></br>
    
  	<div id="map"></div>

	<script>
	window.onload = function () {
  	var map = L.map('map').setView([43.07265,-89.400929], 10);
  
  	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  	}).addTo(map);
	};
	</script>
</body>
</html>
