<!DOCTYPE html>
<html>
  <head>
    <title>Color Rater!</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
     <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">Color Rater</h1>
      </div>
    </header>

    <div id="map">
      <style> #map { height: 180px; }</style>
    </div>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>