

#map {
  width:900px;
  height:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;

}

div.jumbo {
  padding: 2px 0 2px 0;
  background: -moz-linear-gradient(center top , #B0DE5C, #82CB00) repeat scroll 0 0 #B0DE5C;
  color: #FFFFFF;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 
h2 {

  font-size: 2.5em;
  text-align: center;
  letter-spacing: -2px;
}
 
